@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  background-color: none !important;
}

body {
  width: 100vw;
  max-width: 1144px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Inter", sans-serif;
}
p {
  color: rgba(107, 114, 128, 1);
}
header {
  width: 100vw;
  max-width: 1142px;
  height: 65px;
}

h3 {
  color: rgba(67, 56, 202, 1);
  font-weight: medium;
  font-size: 1.875rem;
}
hr {
  border: none;
  height: 2px;
  background-color: rgba(67, 56, 202, 1);
  margin: 5.6rem 0;
}
button {
  border-radius: 8px;
  background-color: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (max-width: 500px) {
  .header {
    float: none;
    display: block;
    text-align: left;
  }
}
