@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply w-full min-h-screen text-base font-[Inter] overflow-x-hidden m-0 p-0  md:text-[16px];
}

body.light {
  @apply bg-white;
}

body.dark {
  @apply bg-custom-darkmode;
}

p {
  @apply text-custom-metin font-[Inter] font-normal dark:text-custom-paragraf;
}

h1 {
  @apply sm:text-[3rem]  md:text-[4.5rem];
}

h2 {
  @apply text-[3rem] font-semibold dark:text-custom-title;
}

h3 {
  @apply text-custom-isim text-[1.875rem] dark:text-custom-dark-h3;
}

hr {
  @apply border-none h-[2px] my-4 bg-custom-isim dark:bg-custom-dark-h3;
}

button {
  @apply rounded-lg  py-2.5 px-5 text-base font-medium font-[Inter] cursor-pointer bg-white shadow-none border-none appearance-none dark:bg-custom-darkmode !important;
}
a {
  @apply font-[Inter] font-medium;
}

footer {
  @apply h-[409px] max-w-[1440px];
  @apply dark:!bg-custom-dark-footer dark:!max-w-none dark:!w-[100vw];
}
